* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.containerr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 70%;
    height: 10vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 30%;

}

header .logo img {
    width: 80px;

}

header .menu {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu ul {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

header .menu ul li {
    width: 100%;
    height: 5vh;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu ul li a {
    text-decoration: none;
    height: 30px;
    text-align: center;
    color: #000;
    border: none;
    font-weight: 600;

}

header .menu ul li:hover a {
    color: #00b4fc;
    border-bottom: 2px solid #00b4fc;
}

header .button {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

header #lienhe {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #005bc5;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 500;
}

header #bar {
    display: none;
}

@media only screen and (max-width: 1000px) {
    header {
        width: 90%;
        height: 10vh;
    }

    header .logo {
        width: 50%;
    }

    header #bar {
        display: block;
        width: 40px;
        height: 40px;
        color: #fff;
        margin-left: 25px;
        border: none;
        background: #005bc5;
        border-radius: 5px;
    }

    header .button {
        width: 50%;
    }

    header .menu {
        display: none;
    }

    header .menu.active {
        position: absolute;
        top: 10%;
        width: 90%;
        height: 25vh;
        background: #fff;
        display: block;
        z-index: 10;
        overflow: auto;
    }

    header .menu ul {
        display: block;
        text-align: left;
        width: 90%;
        margin: 20px;
        padding: 0;
    }

    header .menu ul li {
        display: block;
        text-align: left;
        width: 100%;
        margin: 10px;
    }
}

@media only screen and (max-width: 600px) {
    header #lienhe {
        display: none;
    }

    header .menu.active {
        position: absolute;
        top: 10%;
        width: 100%;
        height: 25vh;
        background: #fff;
        display: block;
    }
}

.containerr .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerr .content .slider {
    width: 100%;
    height: 90vh;
    background: url(./imgs/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerr .content .slider #carouselExampleInterval {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerr .content .slider #carouselExampleInterval .noidung {
    width: 100%;
    text-align: center;
    height: 50vh;
}

.noidung h1 {
    margin-bottom: 30px;
}

.noidung button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #00b4fc;
    color: #fff;

}

@media only screen and (max-width: 1000px) {
    .containerr .content .slider {
        width: 100%;
        height: 50vh;
        /* background: red; */
    }

    .containerr .content .slider #carouselExampleInterval .noidung {
        height: 35vh;
    }

}

@media only screen and (max-width: 600px) {
    .containerr .content .slider {
        width: 100%;
        height: 50vh;
        /* background: red; */
    }

    .containerr .content .slider #carouselExampleInterval .noidung {
        height: 35vh;
        margin: 0;
    }

    .noidung h1 {
        margin-bottom: 10px;
    }

    .noidung button {
        margin-top: 10px;
    }

}

.containerr .content .visao {
    width: 90%;
    height: 45vh;
    /* background: red; */
    text-align: center;
    padding: 40px 40px 0 40px;
}

.containerr .content .visao .visao_icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.containerr .content .visao .visao_icon .icon {
    width: calc(100% / 4);
}

.containerr .content .visao .visao_icon .icon a {
    font-size: 70px;
    color: #000;
}

.containerr .content .visao .visao_icon .icon:hover {
    color: #005bc5;
    cursor: pointer;
}

.containerr .content .visao .visao_icon .icon:hover a {
    color: #005bc5;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .containerr .content .visao {
        width: 90%;
        height: 60vh;
    }

    .containerr .content .visao .visao_icon {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .containerr .content .visao .visao_icon .icon {
        width: 50%;
        margin-top: 30px;
    }

    .containerr .content .visao .visao_icon .icon a {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .containerr .content .visao {
        width: 100%;
        height: 47vh;
        padding: 25px;
    }

    .containerr .content .visao .visao_icon {
        margin-top: 7px;
    }

    .containerr .content .visao .visao_icon .icon {
        width: 50%;
        margin-top: 20px;

    }

    .containerr .content .visao .visao_icon .icon a {
        font-size: 45px;
    }

    .containerr .content .visao .visao_icon .icon h4 {
        font-size: 20px;
    }
}

.containerr .content .loiich {
    width: 100%;
    height: 55vh;
    /* background: red; */
    padding: 0 50px 40px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerr .content .loiich .right {
    width: 40%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.containerr .content .loiich .right table {
    width: 80%;
    margin-top: 20px;
}

.containerr .content .loiich .right table tr {
    width: 100%;
    height: 40px;
}

.containerr .content .loiich .right table tr i {
    margin-right: 15px;
}

.containerr .content .loiich .left {
    width: 40%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerr .content .loiich .left img {
    width: 130%;
}

@media only screen and (max-width: 1000px) {
    .containerr .content .loiich {
        width: 80%;
        height: 70vh;
        flex-wrap: wrap;
        padding: 30px;
    }

    .containerr .content .loiich .right {
        width: 100%;
        height: 30vh;
        justify-content: center;
        align-items: center;

    }

    .containerr .content .loiich .right td {
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .containerr .content .loiich {
        width: 80%;
        height: 53vh;
        padding: 20px;
    }

    .containerr .content .loiich .right table tr td {
        margin-left: 10px;
        width: 50%;
    }

    .containerr .content .loiich .right table tr i {
        margin-right: 5px;

    }

    .containerr .content .loiich .left {
        height: 20vh;
    }
}

.containerr .content .tinhnang {
    width: 80%;
    height: 65vh;
    /* background: yellowgreen; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.containerr .content .tinhnang h1 {
    width: 100%;
    margin: 50px;
    margin-left: 100px;
}

.containerr .content .tinhnang .con_tinhnang {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerr .content .tinhnang .con_tinhnang .row1,
.row2 {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.containerr .content .tinhnang .con_tinhnang .con_row {
    /* border: 1px solid red; */
    background: #fceeee;
    width: 20%;
    height: 20vh;
    padding: 15px;
    border-radius: 10px;

}

.containerr .content .tinhnang .con_tinhnang .con_row:hover {
    background: #00b4fc;
    color: #fff;
}

.containerr .content .tinhnang .con_tinhnang .con_row h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.containerr .content .tinhnang .con_tinhnang .con_row i {
    font-size: 60px;
}


.containerr .content .giaiphap {
    width: 80%;
    /* height: 80vh; */
    /* background: green; */
}

.containerr .content .giaiphap h1 {
    margin: 40px;
    margin-bottom: 20px;
}

.containerr .content .giaiphap .nursecall {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.containerr .content .giaiphap .nursecall .left {
    width: 45%;
    /* text-align: center; */
}

.containerr .content .giaiphap .nursecall img {
    width: 100%;
}

.containerr .content .giaiphap .nursecall .right {
    width: 45%;
}

.containerr .content .giaiphap .nursecall h3 {
    margin-bottom: 30px;
}

.containerr .content .giaiphap .nursecall button {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #00b4fc;
    font-weight: 500;
    margin-top: 10px;
}

.containerr .content .khachhang {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgb(161, 222, 161); */
}

.containerr .content .khachhang .khachhang_noigi {
    width: 80%;
    /* height: 80vh; */
    text-align: center;
    padding: 50px;

}

.containerr .content .khachhang .khachhang_noigi h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}




.swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #000;

}

.swiper-slide {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
}

.swiper-slide .info {
    width: 100%;
    /* height: 50px; */
    display: flex;
}

.swiper-slide .info img {
    display: block;
    width: 10%;
    /* height: 100%; */
    object-fit: cover;
    margin-right: 20px;
}

.swiper {
    width: 100%;
    height: 300px;
    margin: 50px auto;
}

.append-buttons {
    text-align: center;
    margin-top: 20px;
}

.append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
}

.containerr .content .khachhang .khachhang_cuachungtoi {
    width: 80%;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerr .content .khachhang .khachhang_cuachungtoi h1 {
    margin: 30px 0 50px 0;
}

.containerr .content .khachhang .khachhang_cuachungtoi .khach {
    width: 100%;

}

.containerr .content .khachhang .khachhang_cuachungtoi .khach .row_logo_khach {
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.containerr .content .khachhang .khachhang_cuachungtoi .khach .logo_khach {
    width: 18%;
    border: #000 solid 1px;
    border-radius: 10px;
}

.containerr .content .khachhang .khachhang_cuachungtoi .khach .row_logo_khach img {
    width: 100%;
}
.containerr footer {
    width: 80%;
    height: 35vh;
    text-align: center;
    background: #f8f1e9;
}

.containerr footer .thongtin{
    width: 100%;
    height: 30vh;
    /* background: red; */
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    text-align: center;
    /* background: #f8f1e9; */
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}
.containerr footer .address{
width: 30%;
}
.containerr footer i{
    margin-right: 10px;
}
.containerr footer .design_by{
    width: 100%;
    height: 5vh;
    
   
}